
/* =================== Import fonts from Google ============================= */
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,700);

/* =================== Reset some basic elements ============================ */

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* =========================== Body =========================================== */

body {
  color: #222023; /* charcoal */
  font: normal 100%/150% "Josefin Sans",
                         "Helvetica Neue",
                          Helvetica,
                          Arial,
                          sans-serif;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 64em;
}

#contact-bar {
  background-color: #263577;
  border-radius: 0 0 4px 4px;
  height: 20em;
  margin-bottom: 2em;
  padding: 2em 0;
  color: whitesmoke;
  text-align: center;
}

#contact-bar p{
  margin-bottom: 0.5em;
}
